.doctor-section {
    margin-top: 25px;
}


/* =========================
   TOP CONTROLS
   ========================= */

.doctor-controls {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}


/* =========================
   ADD DOCTOR BUTTON
   ========================= */

.add-doctor-button {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 9px 18px;

    background: white;
    color: #a00000;

    border: 1px solid #a00000;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    transition: 0.2s;
}

.add-doctor-button span {
    font-size: 20px;
    line-height: 14px;
}

.add-doctor-button:hover {
    background: #a00000;
    color: white;
}
